<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="popupregister">
        <% if (messages.error) { %>
            <div class="alert alert-danger">
                <strong><%= messages.error %> </strong>
            </div>
        <% } %>
        <div class="login">
			<h1>Register</h1>
			<form action="/register" method="POST">
				<label for="name">
					<i class=" fas fa-user"></i>
				</label>
				<input type="text" name="name" placeholder="Nom utilisateur" id="username" required>
				<label for="email">
					<i class=" fas fa-user"></i>
				</label>
				<input type="email" name="email" placeholder="Mettez votre mail" id="email" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Mots de passe" id="password" required>
				<p class="registration">Vous avez deja un compte <a href="/login" class="register" >cliquer ici</a> !</p>
				<input type="submit" value="Enregistrement">
			</form>
		</div>
    </div>
</body>
</html>