* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#navbar .container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}
#navbar .container .row {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 80%;
  height: 10vh;
}
#navbar .container .row a {
  text-decoration: none;
}
#navbar .container .row a h2 {
  color: rgb(122, 28, 102);
  font-size: 32px;
}
#navbar .container .row .element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#navbar .container .row .element ul {
  display: flex;
  flex-direction: row;
}
#navbar .container .row .element ul a {
  text-decoration: none;
  color: black;
  list-style-type: none;
  font-size: 18px;
  margin: 5px 20px;
  font-weight: 500;
}
#navbar .container .row .element ul a:first-child {
  border-bottom: solid 5px #c02ea0;
}
#navbar .container .row .element ul a:hover {
  border-bottom: solid 5px #c02ea0;
}
#navbar .container .row .element button {
  margin-left: 30px;
  height: 5vh;
  width: 20vh;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #c02ea0;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

#main-center-img {
  margin-top: 30px;
  margin-bottom: 180px;
}
#main-center-img .container-all {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 90%;
  height: 75vh;
  background-color: #f2dbf5;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
#main-center-img .container-all .details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 65%;
  height: 90%;
}
#main-center-img .container-all .details-container .text-details h2 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 20px;
}
#main-center-img .container-all .details-container .text-details p {
  font-size: 20px;
  text-align: center;
}
#main-center-img .container-all .details-container .details-img {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#main-center-img .container-all .details-container .details-img .img-1 {
  position: relative;
  background-color: green;
  left: 5%;
  top: 0%;
  z-index: 2;
  height: 50vh;
  width: 50vh;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#main-center-img .container-all .details-container .details-img .img-2 {
  position: relative;
  background-color: red;
  left: 0%;
  top: 10%;
  z-index: 4;
  height: 60vh;
  width: 60vh;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#main-center-img .container-all .details-container .details-img .img-3 {
  position: relative;
  background-color: yellow;
  left: -5%;
  top: -12%;
  z-index: 3;
  height: 40vh;
  width: 40vh;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#main-text-center .container-text {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 70px;
}
#main-text-center .container-text .div-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#main-text-center .container-text .div-text h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 30px;
}
#main-text-center .container-text .div-text p {
  font-size: 18px;
  font-weight: 300;
}

#container-grid {
  margin-bottom: 30px;
}
#container-grid .grid-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 90%;
  height: 60vh;
  background-color: #f2dbf5;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
#container-grid .grid-content .content-all {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 120vh;
}
#container-grid .grid-content .content-all a {
  text-decoration: none;
}
#container-grid .grid-content .content-all .grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #e5c4eb;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
  height: 35vh;
  width: 30vh;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
#container-grid .grid-content .content-all .grid .icone-center {
  background-color: #c02ea0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 12vh;
  height: 12vh;
  margin-bottom: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#container-grid .grid-content .content-all .grid .icone-center img {
  width: 60px;
  height: 60px;
}
#container-grid .grid-content .content-all .grid h2 {
  font-size: 24px;
  font-weight: 300;
  color: black;
}

#middle-img-center {
  margin-top: 120px;
  margin-bottom: 120px;
}
#middle-img-center .center-content {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 65vh;
  width: 75%;
}
#middle-img-center .center-content .two-row-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 60vh;
  width: 45%;
}
#middle-img-center .center-content .two-row-content.part-1 {
  width: 50%;
}
#middle-img-center .center-content .two-row-content h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 24px;
}
#middle-img-center .center-content .two-row-content p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
#middle-img-center .center-content .two-row-content button {
  height: 6vh;
  width: 22vh;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #c02ea0;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
#middle-img-center .center-content .two-row-content .details-img {
  position: relative;
}
#middle-img-center .center-content .two-row-content .details-img .img-2 {
  position: relative;
  background-color: red;
  left: -5%;
  top: 20%;
  z-index: 4;
  height: 55vh;
  width: 55vh;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#middle-img-center .center-content .two-row-content .details-img .img-3 {
  position: relative;
  background-color: yellow;
  left: 55%;
  top: -50%;
  z-index: 3;
  height: 35vh;
  width: 35vh;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}/*# sourceMappingURL=styles.css.map */