* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(63, 63, 190);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    border: none;
    background-color: white;
    width: 40%;
    border-radius: 16px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);

    &.none {
        display: none;
    }

    .close {
        // border: 1px solid;
        margin: 3% 0 0 0;
        width: 83%;
        display: flex;
        justify-content: end;

        img {
            width: 4%;
            cursor: pointer;
        }
    }


    h2 {
        font-size: 32px;
        margin: 0 0 3% 0;
    }

    p {
        font-size: 18px;
        width: 72%;
        margin: 0 0 3% 0;
    }

    button {
        color: white;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        background-color: rgb(63, 63, 190);
        height: 46px;
        width: 24%;
        border: none;
        border-radius: 12px;
        margin: 0 0 3% 0;
    }
}